In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("jamb_exam_results.csv")
df.columns = df.columns.str.lower().str.replace(" ", "_")

string_columns = list(df.dtypes[df.dtypes == "object"].index)
for c in string_columns:
    df[c] = df[c].str.lower().str.replace(" ", "_")
    
df.dtypes

jamb_score                        int64
study_hours_per_week              int64
attendance_rate                   int64
teacher_quality                   int64
distance_to_school              float64
school_type                      object
school_location                  object
extra_tutorials                  object
access_to_learning_materials     object
parent_involvement               object
it_knowledge                     object
student_id                        int64
age                               int64
gender                           object
socioeconomic_status             object
parent_education_level           object
assignments_completed             int64
dtype: object

In [4]:
df.head().T

                                     0       1         2         3         4
jamb_score                         192     207       182       210       199
study_hours_per_week                22      14        29        29        12
attendance_rate                     78      88        87        99        98
teacher_quality                      4       4         2         2         3
distance_to_school                12.4     2.7       9.6       2.6       8.8
school_type                     public  public    public    public    public
school_location                  urban   rural     rural     urban     urban
extra_tutorials                    yes      no       yes        no        no
access_to_learning_materials       yes     yes       yes       yes       yes
parent_involvement                high    high      high    medium    medium
it_knowledge                    medium    high    medium      high    medium
student_id                           1       2         3         4         5
age                                 17      15        20        22        22
gender                            male    male    female    female    female
socioeconomic_status               low    high      high    medium    medium
parent_education_level        tertiary     NaN  tertiary  tertiary  tertiary
assignments_completed                2       1         2         1         1

In [5]:
for column in list(df.dtypes.index):
    print()
    print(column, " ", df[column].dtype)
    print(f"", df[column].nunique())
    print(f"", df[column].unique())

jamb_score   int64
 220
 [192 207 182 210 199 202 251 129 220 157 188 158 191 114 146 154 102 106
 238 274 108 159 263 149 101 153 267 133 147 177 239 181 123 140 144 206
 100 223 266 134 104 172 222 136 185 164 113 189 262 231 151 103 122 135
 170 141 156 227 143 161 226 176 169 196 243 138 155 298 236 201 131 116
 197 110 115 228 225 118 232 215 200 211 218 171 183 245 160 119 107 221
 150 126 120 127 247 234 105 145 198 162 166 224 132 283 121 241 204 229
 268 111 244 163 246 295 168 184 179 190 142 212 299 180 249 128 208 195
 112 216 194 152 117 139 165 130 173 277 240 124 137 281 235 219 282 148
 125 250 255 280 193 174 237 178 254 187 256 167 270 230 109 308 175 214
 285 209 292 279 213 186 261 259 291 278 293 264 275 252 253 217 301 233
 260 271 205 242 294 272 203 276 342 289 269 248 320 346 360 257 366 367
 343 322 258 286 359 290 296 297 288 273 284 265 319 287 304 317 328 362
 335 323 329 355]

study_hours_per_week   int64
 41
 [22 14 29 12 25 35 27 23 15 32  7  2 16 18 40 28 34 11 20 19  0 30 13 21
 17 10 38 39  8 26  3 24 37 31 33  6  1  9 36  4  5]

attendance_rate   int64
 51
 [ 78  88  87  99  98  85  75  79  90  91  92 100  84  77  73  89  97  94
  58  71  76  81  83  93  86  96  82  95  63  74  80  72  64  69  70  65
  54  62  60  67  57  59  68  56  61  66  55  53  50  51  52]

teacher_quality   int64
 5
 [4 2 3 1 5]

distance_to_school   float64
 201
 [12.4  2.7  9.6  2.6  8.8 13.6  9.4  4.6 15.6  4.5  4.7  8.3 14.8 10.5
  7.1  7.6  4.1 12.2 16.6  9.3 11.8  5.6 14.5  5.   3.9 10.2  9.9 12.9
 13.2  2.9 10.3 16.   8.6  6.3  2.8 15.  17.5  8.7 19.7  5.1  5.4  7.8
  9.5 12.5 15.4 12.   7.2 10.4  3.3  5.9  5.7 17.6 11.7 16.2 11.5 14.2
 12.3  7.4  5.2 18.4  9.1  2.4 17.7 11.9 10.9 14.7 18.6 14.6 17.9 18.
  7.3 11.1 12.6 10.   0.   2.  15.7 19.6  3.1  4.4 17.1  7.5 14.4 10.6
  8.2  7.9  9.   1.1 17.8  1.2 11.3  6.9 13.8  7.7  4.   6.6 13.4  5.5
  7.  13.3  8.9 17.4 16.9 11.6  6.4  4.3  3.   6.7 14.3  8.5 19.4 14.9
  9.8 15.3  3.8 17.  13.9  6.8 16.7  1.8  3.6 20.  16.3 10.8  8.4 11.
 13.   4.2  3.7  6.   1.6 15.1  9.2  0.9  0.5 13.7 14.   9.7 12.7 11.2
  8.1 15.8  0.3 19.1  1.4 15.5 12.1 15.9 16.1  6.5 16.5  4.8 19.9 14.1
 10.1  5.8  6.1 16.4 10.7  1.5  2.2 12.8 15.2  8.  19.5 13.1 11.4  3.2
  6.2 18.1  1.   2.1 18.5  1.7  1.3  2.5  4.9 19.   0.1 19.3  3.4 18.2
 18.3 18.8  3.5 18.9  0.6  0.8  5.3 17.2 13.5 19.2  2.3 18.7 16.8  0.2
 17.3  0.7 19.8  0.4  1.9]

school_type   object
 2
 ['public' 'private']

school_location   object
 2
 ['urban' 'rural']

extra_tutorials   object
 2
 ['yes' 'no']

access_to_learning_materials   object
 2
 ['yes' 'no']

parent_involvement   object
 3
 ['high' 'medium' 'low']

it_knowledge   object
 3
 ['medium' 'high' 'low']

student_id   int64
 5000
 [   1    2    3 ... 4998 4999 5000]

age   int64
 8
 [17 15 20 22 16 19 18 21]

gender   object
 2
 ['male' 'female']

socioeconomic_status   object
 3
 ['low' 'high' 'medium']

parent_education_level   object
 3
 ['tertiary' nan 'primary' 'secondary']

assignments_completed   int64
 5
 [2 1 4 3 5]

In [6]:
del df["student_id"]
df.head().T

                                     0       1         2         3         4
jamb_score                         192     207       182       210       199
study_hours_per_week                22      14        29        29        12
attendance_rate                     78      88        87        99        98
teacher_quality                      4       4         2         2         3
distance_to_school                12.4     2.7       9.6       2.6       8.8
school_type                     public  public    public    public    public
school_location                  urban   rural     rural     urban     urban
extra_tutorials                    yes      no       yes        no        no
access_to_learning_materials       yes     yes       yes       yes       yes
parent_involvement                high    high      high    medium    medium
it_knowledge                    medium    high    medium      high    medium
age                                 17      15        20        22        22
gender                            male    male    female    female    female
socioeconomic_status               low    high      high    medium    medium
parent_education_level        tertiary     NaN  tertiary  tertiary  tertiary
assignments_completed                2       1         2         1         1

In [7]:
df.parent_education_level = df.parent_education_level.fillna(0)
df.isnull().sum()

jamb_score                      0
study_hours_per_week            0
attendance_rate                 0
teacher_quality                 0
distance_to_school              0
school_type                     0
school_location                 0
extra_tutorials                 0
access_to_learning_materials    0
parent_involvement              0
it_knowledge                    0
age                             0
gender                          0
socioeconomic_status            0
parent_education_level          0
assignments_completed           0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

random_state = 1
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=random_state)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=random_state)

df.shape[0], df_train.shape[0] + df_test.shape[0] + df_val.shape[0]

df_full_train = df_full_train.reset_index(drop=True)
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_full_train = df_full_train.jamb_score.values
y_train = df_train.jamb_score.values
y_val = df_val.jamb_score.values
y_test = df_test.jamb_score.values

del df_full_train["jamb_score"]
del df_train["jamb_score"]
del df_val["jamb_score"]
del df_test["jamb_score"]

In [9]:
from sklearn.feature_extraction import DictVectorizer

In [10]:
from sklearn.tree import DecisionTreeRegressor, export_text

max_depth = 1
dicts = df_train.to_dict(orient="records")
dv = DictVectorizer(sparse=True)
X = dv.fit_transform(dicts)
model = DecisionTreeRegressor(max_depth=max_depth)
model.fit(X, y_train)

print(export_text(model, feature_names=dv.get_feature_names_out()))

|--- study_hours_per_week <= 18.50
|   |--- value: [155.24]
|--- study_hours_per_week >  18.50
|   |--- value: [188.59]

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import root_mean_squared_error

In [12]:
n_estimators = 10
random_state = 1
n_jobs = -1

def train_random_forest(df, y_train, n_estimators, random_state, n_jobs, max_depth=None):
    dicts = df.to_dict(orient="records")
    dv = DictVectorizer(sparse=True)
    X_train = dv.fit_transform(dicts)
    model = RandomForestRegressor(
        n_estimators=n_estimators, 
        random_state=random_state, 
        max_depth=max_depth,
        n_jobs=n_jobs)
    model.fit(X_train, y_train)
    return dv, model

def predict_random_forest(df, dv, model):
    dicts = df.to_dict(orient="records")
    X = dv.transform(dicts)
    y_pred = model.predict(X)
    return y_pred

dv, model = train_random_forest(df_train, y_train, n_estimators, random_state, n_jobs)
y_pred = predict_random_forest(df_val, dv, model)
y_pred
round(root_mean_squared_error(y_val, y_pred), 2)

np.float64(42.14)

In [ ]:
random_state = 1
rmses = []
for n in range(10, 201, 10):
    dv, model = train_random_forest(df_train, y_train, n, random_state, n_jobs)
    y_pred = predict_random_forest(df_val, dv, model)
    y_pred
    rmse = round(root_mean_squared_error(y_val, y_pred), 3)
    rmses.append((n, rmse))

rmses

In [ ]:
df_rmse = pd.DataFrame(rmses, columns=["n_estimators", "rmse"])
df_rmse